<div id="recipe-detail" *ngIf="recipe != null">
<div class="row">
    <div class="col-12 mt-1">
        <img src="{{recipe.imagePath}}" alt="" class="img-fluid" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>{{recipe.name}}</h2>
    </div>
</div>   
<div class="row">
    <div class="col-12 d-print-none">
        <div class="btn-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle m-1"> Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="toShoppingList()" style="cursor: pointer;">Add To Shopping List</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" routerLink="edit" >Edit Recipe</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
        </div>
        <button class="btn btn-outline-secondary m-1" printSectionId="recipe-detail" 
        [useExistingCss]="true"
        ngxPrint>Print</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>  {{recipe.description}} </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">Ingredients 
            <li class="list-group-item"
                *ngFor="let i of recipe.ingredients">
                {{i.name}} - {{i.amount}}
            </li>
        </ul>
    </div>
</div>
</div>
